*{
    padding: 0;
    margin: 0;
}

.background{
    background-image: url(/gift_site/assets/login-bg.jpg);
    height:100vh;
    /* width: 100vh;  */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h2{
    display: block;
    justify-content: center;
    align-items: center;
}
.conatiner{
    background-color: aliceblue;
    border-radius: 3em;
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}


.contents{
    padding: 1rem;
    margin: 1em;
}